#feed-meta{:data => {:id => params[:id], :type => @lister.type}}
  #feed-controls
    #fetch-feed=image_tag('silk/icons/arrow_refresh.png', :size => '16x16')
    - filters = [['Unread', 'unread'], ['All Items', 'all'], ['Starred', 'starred']]
    - filters.delete(['Starred','starred']) if @lister.identifier == 'starred'
    =select_tag 'filter', options_for_select(filters, @lister.filter)

  #feed-title
    -case @lister.type
    -when 'feed'
      =link_to image_tag('silk/icons/world_link.png', :size => '16x16'), @lister.feed.url, :target => '_blank'
    -when 'folder'
      =image_tag('silk/icons/folder.png', :size => '16x16')
    -when 'starred'
      =image_tag('silk/icons/star.png', :size => '16x16')
    -else
      =image_tag('default_feed_icon.png', :size => '16x16')
    =@lister.title

#entry-list
  -if @lister.entries.blank?
    #no-entries
      ="No #{['unread','starred'].include?(@lister.filter) ? @lister.filter : nil} entries found for #{@lister.title}"
  -else
    -@lister.entries.each_with_index do |entry, i|
      -page = i + 1
      -classes = []
      -classes << (entry.read ? 'read' : 'unread')
      -classes << (entry.starred ? 'starred' : 'unstarred')
      -entry_data = {:id => entry.id, :feed_id => entry.feed_id, :identifier => @lister.identifier, :filter => @lister.filter, :type => @lister.type, :page => page}
      .entry{:class => classes.join(' '), :data => entry_data}
        .entry-bar
          .read-status
            -if entry.read
              =image_tag('silk/icons/email_open.png', :size => '16x16')
            -else
              =image_tag('silk/icons/email.png', :size => '16x16')
          .starred-status
            -if entry.starred
              =image_tag('silk/icons/star.png', :size => '16x16')
            -else
              =image_tag('silk/icons/star_gray.png', :size => '16x16')
          .entry-link=link_to image_tag('silk/icons/link.png', :size => '16x16'), entry.url, :target => '_blank'
          .entry-time
            -if Time.now.day == entry.published.day
              =entry.published.strftime("%l:%M %p")
            -else
              =entry.published.strftime("%b %d")
          .title=entry.title.html_safe
        .clearboth

