.container-fluid
  .row-fluid
    .span12
      #entry-list.accordion
        - @lister.entries.each do |entry|
          .accordion-group
            .accordion-heading
              %a.accordion-toggle{href: "#entry-#{entry.id}", data: {parent: "#entry-list"}}
                = entry.title
            .accordion-body.collapse{id: "entry-#{entry.id}", data: {entry_id: entry.id}}
              .accordion-inner
                Here
