.container
  %h1 Settings
  %h3=link_to "Manage users", users_path

  =link_to "#{image_tag('silk/icons/add.png', :size => '16x16')} Add Folder".html_safe, new_folder_path, :class => 'button'

  =link_to "#{image_tag('silk/icons/add.png', :size => '16x16')} Add Feed".html_safe, new_feed_path, :class => 'button'

  %table
    %thead
      %tr
        %th Folders and Feeds
        %th.last Actions
    %tbody
      -@folders.each do |folder|
        %tr{:class => cycle('odd', 'even')}
          %td
            =image_tag('silk/icons/folder.png', :size => '16x16')
            =folder.name
          %td.last
            =link_to image_tag('silk/icons/pencil.png', :alt => "Edit"), edit_folder_path(folder)
            =link_to image_tag('silk/icons/bin.png', :alt => "Delete"), folder_path(folder), :method => :delete, :data => { :confirm => "Are you sure? This will also unsubscribe you from all this folder's feeds!" }
        -folder.feeds.each do |feed|
          %tr{:class => cycle('odd', 'even')}
            %td
              &nbsp;&nbsp;&nbsp;
              =image_tag('default_feed_icon.png', :size => '16x16')
              =feed.title
            %td.last
              =link_to image_tag('silk/icons/pencil.png', :alt => "Edit"), edit_feed_path(feed)
              =link_to image_tag('silk/icons/bin.png', :alt => "Delete"), feed_path(feed), :method => :delete, :data => { :confirm => "Are you sure?" }
