.container-fluid
  .row-fluid
    .span12
      #entry-nav.pull-right
        %button#prev-entry.btn.btn-primary{type: "button"} &laquo; Prev
        %button#next-entry.btn.btn-primary{type: "button"} Next &raquo;
      #entry-list-title
        %h3= @lister.title
      .clearfix
      - if @lister.entries.empty?
        #entry-list
          %h2.text-center No Entries Found
      - else
        #entry-list.panel-group
          - @lister.entries.each do |entry|
            .panel
              .panel-heading
                %h3.panel-title
                  %a.panel-toggle{href: "#entry-#{entry.id}", data: {parent: "#entry-list"}}
                    = entry.title.html_safe
              .panel-collapse.collapse{id: "entry-#{entry.id}", data: {entry_id: entry.id, feed_id: entry.feed_id, read_state: entry.read.to_s}}
                .panel-body
                  Loading...
