.container
  %h1 Manage Feeds

  .button
    =link_to "#{image_tag('silk/icons/add.png', :size => '16x16')} Add Feed".html_safe, new_feed_path

  %table
    %thead
      %tr
        %th Title
        %th URL
        %th.last Actions
    %tbody
      -@feeds.each do |feed|
        %tr{:class => cycle('odd', 'even')}
          %td=feed.title
          %td=feed.feed_url
          %td.last
            =link_to image_tag('silk/icons/pencil.png', :alt => "Edit"), edit_feed_path(feed)
            =link_to image_tag('silk/icons/bin.png', :alt => "Delete"), feed_path(feed), :method => :delete, :data => { :confirm => "Are you sure?" }
            
