-unread_count = current_user.all_feeds_unread_count
.feed-title{:data => {:id => '0', :full_title => 'All Feeds'}}
  %div{ :class => (unread_count > 0 ? 'unread' : nil) }
    All Feeds
    ="(#{unread_count})" if unread_count > 0

-@feeds.each do |feed|
  -unread_count = feed.unread_count
  .feed-title{:data => {:id => feed.id, :full_title => feed.title}}
    %div{ :class => (unread_count > 0 ? 'unread' : nil) }
      =truncate(feed.title, :length => 25)
      %span.unread-count="(#{unread_count})" if unread_count > 0

