.entry-title=link_to @lister.entry.title.html_safe, @lister.entry.url, :target => '_blank'
.entry-meta
  ="by #{@lister.entry.author}" if @lister.entry.author
  ="#{time_ago_in_words(@lister.entry.published)} ago"

.entry-body=@lister.entry.body.html_safe

.clearboth
