= jquery_mobile_page(:id => "entry-list", :data => {:entry_ids => @lister.entries.map(&:id).join(','), :url => "/dashboard/entries"}) do
  = jquery_mobile_header do
    =jquery_mobile_back_button dashboard_index_path
    %h1=@lister.title
  =jquery_mobile_content do
    -if @lister.entries.blank?
      #no-entries
        ="No #{['unread','starred'].include?(@lister.filter) ? @lister.filter : nil} entries found for #{@lister.title}"
    -else
      %ul{:data => { :role=>"listview", :count_theme=>"c", :inset=>"true"}}
        -@lister.entries.each do |entry|
          -classes = []
          -classes << (entry.read ? 'read' : 'unread')
          -classes << (entry.starred ? 'starred' : 'unstarred')
          %li.entry{:class => classes.join(' ')}
            =link_to entry.title.html_safe, entry_path(entry, :type => @lister.type, :filter => @lister.filter, :identifier => @lister.identifier, :mark_read => "true")
