#dashboard {
  #feed-list {
    float: left;
    width: 220px;    
    font-family: arial, sans-serif;
    font-size: 13px;
    height: 21px;
    line-height: 21px;
    text-align: left;

    .feed-title {
      cursor: pointer;
      .selected {
        color: red;
      }
      .unread {
        font-weight: bold;
      }
    }
  }

  #feed-entry-list {
    margin-left: 250px;

    #entry-list {
      overflow-y: scroll;
      height: 180px;

      .entry {
    
        .read-status, .starred-status {
          float: left;
          margin-right: 6px;
        }


        cursor: pointer;
        padding: 5px 8px;
        border-bottom: 1px solid black;
        font-size: 85%;
        //margin-bottom: 10px;
      }

      .selected {
        border-left-color: #4D90F0;
      }
    }

    #entry-display {
      overflow-y: scroll;
    }
  }
}
