#dashboard {
  #feed-list {
    float: left;
    width: 250px;    
    font-size: 13px;
    height: 21px;
    line-height: 21px;
    text-align: left;
    
    .mjs-nestedSortable-error {
      background: #fbe3e4;
      border-color: transparent;
    }

    ol {
      margin-left: 16px;
    }

    ol.sortable {
      margin: 0;
    }

    .placeholder {
      outline: 1px dashed #4183C4;
    }

    #feed-folder-list {
      ol {
        list-style: none;
        padding: 0;
      }
    }

    .feed-title, .folder-title {
      cursor: pointer;
      .selected {
        color: red;
      }
      .unread {
        font-weight: bold;
      }
      span.unread-count {
        font-weight: normal;
        font-size: 85%;
        color: #666666;
      }
      .config {
        float: right;
      }
    }

    .feed-title {
      margin-top: 4px;
    }
    .folder-title {
      margin-top: 10px;
    }
  }

  #feed-entry-list {
    margin-left: 280px;
    #feed-meta {
      margin-bottom: 5px;
      #feed-title {
        font-weight: bold;
        margin: 4px 0 8px 2px;
        font-size: 16px;
      }
      #feed-controls {
        #fetch-feed, #feed-view {
          float: right;
        }
        #fetch-feed {
          cursor: pointer;
        }
      }
    }

    #entry-list {
      overflow-y: scroll;
      margin-bottom: 5px;
      height: 120px;
      border-left: 1px solid #DDDDDD;
      #no-entries {
        text-align: center;
        margin: 20px;
        font-size: 140%;
        font-weight: bold;
      }
      .entry {
        cursor: pointer;
        border-bottom: 1px solid #E0E0E0;
        font-size: 85%;
        .read-status, .starred-status {
          float: left;
          margin-right: 6px;
        }
        .entry-bar {
          padding: 8px 5px;
        }
        &.selected {
          .entry-bar {
            background-color: #F7FAAA !important;
          }
        }
        &.read {
          .entry-bar {
            background-color: #E8E8E8;
          }
        }
        .entry-content {
          background-color: white;
          padding: 10px 24px;
          .entry-title {
            margin-bottom: 6px;
            a {
              font-weight: bold;
              font-size: 140%;
              color: #1155CC;
              text-decoration: none;
            }
          }
          .entry-meta {
            color: #666666;
            margin-bottom: 10px;
          }
          .entry-body {
          }
        }
      }
    }

    #entry-display {
      overflow-y: scroll;
    }
  }
}
