body {
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.notice {
  color: black;
  background-color: blue;
  font-size: 14px;
  min-height: 22px;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 0px;
  z-index: 10000;
  padding: 4px;
}

#navigation {
  background-color: black;
  color: white;
  margin-bottom: 10px;
  padding: 4px 4px 5px 4px;
  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  #user-section {
    float: right;
    #config, #logout, #greeting {
      float: right;
      margin-left: 10px;
    }
  }
}

#wrapper {
  width: 100%;
}

.container {
  width: 80%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  h1 {
    font-size: 120%;
    margin-left: 8px;
  }
  table {
    width: 98%;
    margin: 4px auto;
    tr {
      &.even { background-color: #EBEBEB; }
      &.odd { }
      th {
        text-align: left;
      }
      td, th {
        padding-top: 4px;
        padding-bottom: 4px;
        &.last {
          text-align: right;
          padding-right: 4px;
        }
      }
    }
  }
  .error_messages {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f0f0;
    h2 {
      text-align: left;
      font-weight: bold;
      padding: 5px 5px 5px 15px;
      font-size: 12px;
      margin: -7px;
      margin-bottom: 0px;
      background-color: #c00;
      color: #fff;
    }
    ul li {
      font-size: 12px;
      list-style: square;
    }
  }
}


.clearboth {
  clear: both;
}

.hidden {
  display: none;
}
