=jquery_mobile_page(:id => "edit-user") do
  = jquery_mobile_header do
    = jquery_mobile_back_button settings_dashboard_index_path
    %h1=@user.login
  
  = jquery_mobile_content do
    = render :partial => "form"
 