body {
   //padding-top: 60px; /* Forces container below topbar */
   // background-color: #f5f5f5;
   padding: 0;
}

#wrapper {
  margin: 0 5px;
}

.navbar-static-top {
  margin-bottom: 19px;
}
.content-box {
  background-color: #fff;
  margin: 0 0 8px 0;
  padding: 8px;
  border-radius: 6px;
}

table.table {
  td.last {
    text-align: right;
  }
}

/*
@media (max-width: 980px) {
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}
*/

.form-signin {
  max-width: 300px;
}

.content {
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  .form-signin-heading,
  .checkbox {
    margin-bottom: 10px;
  }
  input[type="text"],
  input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
  }
}

#entry-list {
  overflow-y: auto;
  margin-bottom: 5px;
  height: 120px;
  border-left: 1px solid #DDDDDD;
}

#entry-list-title {
  margin-left: 5px;
  margin-bottom: 8px;
}

#entry-nav {
  margin-right: 5px;
  margin-bottom: 15px;
}

.form {
  padding: 15px;
  margin: 0 auto;
  .form-signin-heading, .checkbox {
    margin-bottom: 10px;
  }
  .checkbox {
    font-weight: normal;
  }
  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .form-control:focus {
    z-index: 2;
  }
  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
