<!DOCTYPE html>
%html
  %head
    %title My Own RSS Reader
    = stylesheet_link_tag    "application-screen", media: "screen"
    = javascript_include_tag "application"
    = csrf_meta_tags
%body{:id => controller.controller_name}
  #loading-notice.notice.hidden Loading...
  #wrapper
    = yield
